.wrapper {
    width: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    border: 0px solid black;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
    background-color: #f7f3e9;
}

.lineDivision {
    grid-column: 1 / 3;
    height: 2px;
    background-color: white;
}

.gridElement {
    border: 0px solid black;
}

.title {
    grid-area: 1 / span 2;
    text-align: center;
    font-size: 40px;
    font-family: 'Train One', cursive;
    background-color: #5eaaa8;
    color: white;
}

.topicName {
    grid-area: 2 / span 2;
    text-align: center;
    background-color: #f05945;
    color: white;
}

.content {
    padding: 10px;
}

.objectHeader {
    background-color: #D5C6E0;
}
